<div class="container-fluid ">
    <div class="room-list">
        <div class="row">

            <ng-container *ngFor="let room of rooms">

                <div class="col-md-4">
                    <div class="room" [class.room-avalible]="!isActivedRoom(room.statusId)" [class.room-actived]="isActivedRoom(room.statusId)">

                        <ng-container *ngIf="room.statusId == 'ACT'">
                            <div class="overload">
                                <button class="over-button" routerLink="/home/pay">Tính tiền</button>
                            </div>
                        </ng-container>

                        <div class="content">
                            <h2>
                                Phòng {{ room.roomId }}
                                <ng-container *ngIf="room.statusId == 'ACT'">
                                    {{ getRoomTypeFromId(room.typeId, true) }}
                                </ng-container>
                            </h2>

                            <ng-container *ngIf="room.statusId == 'AVA'">
                                <div class="center-item">
                                    <button class="button-avalible" routerLink="/home/book/{{ room.roomId }}">Nhận
                                        phòng</button>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="room.statusId == 'CLE'">
                                <div class="center-item">
                                    <button class="button-cleaning">Chờ dọn dẹp</button>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="room.statusId == 'ACT'">
                                
                                <app-timer [inDate]="room.checkIn.inDate"></app-timer>

                                <ul class="info">
                                    <li>
                                        <i class="fa fa-snowflake-o"></i> {{ getRoomTypeFromId(room.typeId) }}
                                    </li>
                                    <li>
                                        <i class="fa fa-clock-o"></i> Vào lúc: {{ room.checkIn.inDate | date: 'HH:mm' }}
                                    </li>
                                </ul>

                            </ng-container>

                        </div>
                    </div>
                </div>

            </ng-container>

        </div>
    </div>
</div>