h2 {
    font-family: 'Roboto-Bold', sans-serif;
    padding-left: 30px;
    text-transform: uppercase;
}

.room-list {
    margin-top: 50px;
}

.room {
    background: #ffffff;
    width: 100%;
    min-height: 310px;
    border-radius: 15px;
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    position: relative;
    transition: all ease-in .3s;
    overflow: hidden;
}

.room-blur {
    opacity: .6;
}

.room-avalible {
    color: #333333;
    /* background-image: linear-gradient(141deg, #dddddd 0%, #ffffff 51%, #dddddd 75%); */
    background: #ffffff;
    z-index: 1;
}

.room-cleaning {
    color: #555555;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #dddddd 51%, #bbbbbb 75%);
    z-index: 1;
}

.room-actived {
    color: #ffffff;
    /* background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
    background: -webkit-linear-gradient(-45deg, #8363a1 0%, #74a8c3 100%);
    background: linear-gradient(135deg, #8363a1 0%, #74a8c3 100%);
    z-index: 1;
}

.room:hover {
    transform: scale(1.05);
}

.room .overload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    transition: all ease-out .5s;
    list-style: none;
    margin: 0;
    padding: 0;;
}

.room .overload li:not(:last-child) {
    margin-bottom: 15px;    
}

.over-button { 
    padding: 0 40px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 25px;
    font-family: 'Roboto-Bold', sans-serif;
    border: 2px dashed rgba(255, 255, 255, .3);
    transition: all ease-in .3s;
}

.over-button:hover { 
    background:rgba(255, 255, 255, .3);
    border: 2px solid rgba(255, 255, 255, .3);
}

.room-actived .over-button {
    color: #ffffff;
}

.room-actived:hover .content {
    opacity: 0;
}

.room:hover .overload {
    opacity: 1;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    transition: all ease-in .3s;
}

.actived {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 15px;
    color: #ffffff;
}

.info {
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;
    list-style: none;
    padding: 0 25px;
    margin-top: 5px;
}

.info li:not(:last-child) {
    margin-right: 10px;
}

.info li {
    margin-bottom: 10px;
    background: rgba(255, 255, 255, .1);
    color:#ffffff;
    font-size: 25px;
    border-radius: 5px;
    padding: 1px 6px;
    white-space: nowrap;
}

.center-item {
    position: relative;
    top: 18%;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-item button {
    padding: 0 40px;
    height: 70px;
    border: 0;
    outline: 0;
    padding: 0 30px;
    font-size: 25px;
    background: transparent;
    transition: all ease-in .3s;
	font-family: 'Roboto-Bold', sans-serif;
    border-radius: 10px;
    cursor: pointer;
}

.center-item .button-cleaning {
    border: 2px dashed #d9d9d9;
    color: #999999;
}

.center-item .button-avalible {
    border: 2px dashed #adebbb;
    color: #32cd56;
    /* background: -webkit-linear-gradient(141deg, #9fb8ad 0%, #adebbb 51%, #32cd56 75%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}